body
{
    font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(212, 238, 250); 
}
/************ navbr **************/
.navbar{
    overflow: hidden;
    background-color : rgb(159, 225, 255);
}
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(11, 149, 212);
}
.navbar a:hover, .dropdown:hover .setbtn {
   background-color: rgb(11, 149, 212);
}
    /* dropdown */
    .dropdown {
        float: left;
        overflow: hidden;
    }
    .dropdown .setbtn {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;  
        border: none;
        outline: none;
        color: rgb(5, 5, 5);
        padding: 14px 16px;
        background-color : rgb(159, 225, 255);
        font-family: inherit;
        margin: 0;
    }
    .dropcontainer {
        display: none;
        position: absolute;
        background-color : rgb(159, 225, 255);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropcontainer a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropcontainer a:hover {
        background-color: rgb(11, 149, 212);
    }
    
    .dropdown:hover .dropcontainer {
        display: block;
    }
    /* dropdown */
/******************* navbar **************/

/* ****************** main **************/
.main{
    text-align: center;
    background-color: rgb(159, 213, 238); 
    margin: auto;
    width: 80%;
    border : 1px solid #f1f1f1;
    border-radius : 5%;
}
/**************** main ******************/

/*************** form *****************/
.login
{
    text-align: center;
    background-color:  rgb(159, 225, 255); 
    margin: auto;
    width: 60%;
    height: 80%;
    border : 1px solid #f1f1f1;
    border-radius : 10%;

}
.login input[type=text], input[type=password]{
    width : 60%;
    padding : 12px 20px;
    margin : 8px 0;
    display : inline-block;
    border : 1px solid   rgb(239, 246, 250); ;
    box-sizing : border-box;
}
.forgot
{
    text-align: center;
    background-color:  rgb(159, 225, 255); 
    margin: auto;
    width: 60%;
    height: 80%;
    border : 1px solid #f1f1f1;
    border-radius : 10%;

}
.forgot input[type=text], input[type=password]{
    width : 60%;
    padding : 12px 20px;
    margin : 8px 0;
    display : inline-block;
    border : 1px solid   rgb(239, 246, 250); ;
    box-sizing : border-box;
}
.commentform{
    text-align: center;
    background-color:  rgb(159, 225, 255); 
    margin: auto;
    width: 60%;
    border : 1px solid #f1f1f1;
    border-radius : 10%;

}
.commentform input[type=text], input[type=password]{
    width : 60%;
    padding : 12px 20px;
    margin : 8px 0;
    display : inline-block;
    border : 1px solid   rgb(239, 246, 250); ;
    box-sizing : border-box;
}
.commentcontainer{
    position :inherit;
    border : 1px solid   rgb(239, 246, 250);
    border-radius : 10%;
}
.registration input[type=text], input[type=password]{
    width : 60%;
    padding : 12px 20px;
    margin : 8px 0;
    display : inline-block;
    border : 1px solid   rgb(239, 246, 250); 
    box-sizing : border-box;
}

.registration {
    text-align: center;
    background-color:  rgb(159, 225, 255); 
    margin: auto;
    width: 60%;
    border : 1px solid #f1f1f1;
    border-radius : 10%;

}
/****************** form *****************/

/******************* images ***************/

.imagecontainer{
    text-align :center;
    margin : 24px 0 12px 0;
}
img.loginimage{
    width : 40%;
    border : 1px solid #f1f1f1;
    border-radius : 50%;
}
img.postimage{
    width : 100%;
    height: 80%;
    border : 1px solid #f1f1f1;
    border-radius : 10%;
}
 

/****************** images ***************/

/***************** gallery ****************/
.video, .canvas{
    display :block;
    margin : auto;
    width :50%;
     height : 40%; 
}

.capturbutton{
    display :block;
    margin : 10px 0;
    padding : 10px 20px;
    background-color : cornflowerblue;
    color : #fff;
    text-align : center;
    text-decoration : none; 
    /* border-radius : 20%; */
    }

.gallery{
    position :inherit;
    width: 99%;
    display : inline-block;
    }
    .gallery button, input[type=file]{
        width : 40%;
        padding : 12px 20px;
        margin : 8px 0;
        display : inline-block;
        background-color : cornflowerblue;
        box-sizing : border-box;
        color : #fff;
    }
    .preview{
    width : 10%;
    height: 8%;
    border : 1px solid #f1f1f1;
    border-radius : 10%;
    }
   .gallery .stickers
    {
        position: inherit;
        background-color:  rgb(159, 225, 255); 
        width : 100%;
    }
    .stick{
        width : 10%;
        height: 8%;
        border : 1px solid #f1f1f1;
        border-radius : 10%;
    }
/***************** gallery ****************/
/****************** table *****************/
table{
    text-align :center;
    margin: auto;
}
table tr ,td{
    border : 1px solid #f1f1f1;
}
/****************** table *****************/