body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}
form{
    text-align : center;
}

.foot label  
{
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
input[type=text], input[type=password]{
    width : 60%;
    padding : 12px 20px;
    margin : 8px 0;
    display : inline-block;
    border : 1px solid #ccc;
    box-sizing : border-box;
}
input[type=submit]{ 
    width : 30%;
    padding : 10px 18px;
    margin : 8px 0;
    display : inline-block;
    border : 1px solid #ccc;
    box-sizing : border-box;
    color: white;
    background-color : #847ef7;
}
.imgcon{
    text-align :center;
    margin : 24px 0 12px 0;
}
img.limg{
    width : 40%;
    border : 1px solid #f1f1f1;
    border-radius : 50%;
}
img.pimg{
    width : 100%;
    height: 80%;
    border : 1px solid #f1f1f1;
    border-radius : 10%;
}
.container{
    padding : 16px;
}

.cl {
    overflow: hidden;
    background-color: #333;
}
.cl a:hover{
    background-color: peru;
}

.cl label  
{
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.cl a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.drop {
    float: left;
    overflow: hidden;
}

.drop .setbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.cl a:hover, .drop:hover .setbtn {
    background-color: peru;
}

.cont {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cont a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.cont a:hover {
     background-color: #ddd;
}

.drop:hover .cont {
    display: block;
}
.foot label  
{
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.foot{
position :absolute;
top : 78%;
height : 20%;
width : 78%;
padding : 0%;
background-color: #333;
}
h2{
color: white; 
font-family: inherit;
}
h1{
    background-color: white; 
    font-family: inherit;
    }
.main
{
position :absolute;
width: 78%;
padding : 0%;
height : 65%;
background-color: #333;
}
.left{
position :absolute;
left : 80%;
height : 86%;
width : 20%;
padding : 00%;
background-color: #333;
}
.bd{
position :absolute;
width: 99%;
height : 95%;
top : 5%;
display : inline-block;
}
.booth
{
position :absolute;
width: 87%;
height: 87%;
background-color: #ccc;
border: 10px solid #ddd;
/* margin: 0 auto; */
position: absolute
}
.capturbutton{
display :block;
margin : 10px 0;
padding : 10px 20px;
background-color : cornflowerblue;
color : #fff;
text-align : center;
text-decoration : none; 
}
.video, .canvas{
display :block;
margin : auto;
width :50%;
 height : 40%; 
}
.main{
    position :absolute;
    display : inline-block;
    text-align : center;
}
 td{
    text-align : center;
    background-color :peru; 
    border : 4px white; 
    color : #f1f1f1;
} 
table{
    width :30%;
    height : 30%; 
    text-align : center;
    border : 4px white; 
    color : #f1f1f1;
    margin: auto;

}